#app {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(var(--baseUnit) * 6) var(--baseUnit);
}

/* #cardText {
    border-radius: 10px 10px 0px 0px;
    background-color: var(--darkGrayishBlue);
} */

/* #iconContainer {
} */

#iconCircle {
    width: 64px;
    height: 64px;
    background-color: var(--neonGreen);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    transform: translateY(50%);
}

#iconCircle:hover {
    box-shadow: 0px 0px 40px 0px #53FFAA;
}